/* reservas.html inicia*/


@media screen and (max-width:576px){
    #titulo-reserva{
        font-size: 22px;
    }
}

#formulario form{
    margin-bottom: 50px;
}

.container h5{
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}


.container form input{

    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    height: 50px;
    padding: 5px;
}

.container form textarea{

    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    height: 200px;
    resize: none;
    padding: 5px;
}

#inputenviar{
    background-color: #641616;
    color: white;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    height: 50px;
    resize: none;
    padding: 5px;
}

#inputenviar:hover{
    background-color: #8b3f3f;
    transition: 0.5s;
}

.numero {
    display: flex;
}

.numero i{
    color: #641616;
    margin-top: 3px;
    margin-right: 3px;
}


/* reservas.html inicia*/